[submodule "new-window"]
	path = new-window
	url = https://github.com/amine0110/new-window
[submodule "facebook-and-instagram-app"]
	path = facebook-and-instagram-app
	url = https://github.com/amine0110/facebook-and-instagram-app
[submodule "calories-counter-application"]
	path = calories-counter-application
	url = https://github.com/amine0110/calories-counter-application
[submodule "images-in-Tkinter-using-TkImage"]
	path = images-in-Tkinter-using-TkImage
	url = https://github.com/amine0110/images-in-Tkinter-using-TkImage
[submodule "dialog"]
	path = dialog
	url = https://github.com/amine0110/dialog
[submodule "Insert-Take-of-picutres-form-the-database"]
	path = Insert-Take-of-picutres-form-the-database
	url = https://github.com/amine0110/Insert-Take-of-picutres-form-the-database
[submodule "open-images-with-python-dialog"]
	path = open-images-with-python-dialog
	url = https://github.com/amine0110/open-images-with-python-dialog
[submodule "create-an-app-that-convert-from-png-to-jpg"]
	path = create-an-app-that-convert-from-png-to-jpg
	url = https://github.com/amine0110/create-an-app-that-convert-from-png-to-jpg
[submodule "application_crop_image"]
	path = application_crop_image
	url = https://github.com/amine0110/application_crop_image
